<% if @books %>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Price</td>
        <td>Discount</td>
      <tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.price %></td>
          <td><%= book.discount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no books</p>
<% end %>

<%= link_to 'Add a new book', new_book_path %>